{% extends "katilimci/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off">
    {%csrf_token%}
   {{form.t_konu|as_crispy_field}} 
   {{form.t_tarih|as_crispy_field}} 
   {{form.t_katilimcilar|as_crispy_field}} 
   <div class='row'>
       <div class="col-md-4">
           {{form.t_bassaat|as_crispy_field}}
       </div>

       <div class="col-md-8">
        {{form.t_bitsaat|as_crispy_field}}</div>

   </div>
   <div class="row">
       <div class="col-md-8">
        <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-check"></i>Onayla</button>   
       </div>
       <div class="col-md-4">
           <a href="{% url 'toplanti_list' %}" class="btn btn-secondary btn-block btn-lg">
               <i class="fas fa-stream"></i> Geri Dön
            </a>
       </div>
   </div>
   
</form>
{% endblock content %}